<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
    <head>
        <title>New Log</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/datepicker/css/datepicker.min.css}" >
        <style>
            .form-control{
                border-color: black
            }
            .form-select{
                border-color: black
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content">
            <div>
                <nav aria-label="breadcrumb" style="font-size: 10px">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/history/{id} (id = ${history})}">Timesheet</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Log Activity</li>                 
                    </ol>
                </nav>
            </div>
            


            <div class="p-2 mr-2">
                <h3 class="text-primary" >TIMESHEET</h3>
            </div>

            <form th:class="${#fields.hasErrors()} ? 'was-validated' : ''" class="needs-validation" novalidate th:action="@{/job/add/{id}/{ids} (id = ${employee.id}, ids = ${history})}" th:object="${job}" method="POST" id="jobForm">
                <div  class="card  p-3" style="font-size: 12px">
                    <h6> Add New Log Activity</h6>
                    <div class="mb-1 row">
                        <label class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-4">
                            <input type="text" placeholder="dd MMMM yyyy" th:field="*{date}" class="form-control" autocomplete="off" required readonly style="background-color: white"/><br>
                        </div>
                        <div class="col-sm-2">
                            <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}"/>
                        </div>
                    </div>

                    <div class="mb-1 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label" >Status Attendance</label>
                        <div class="dropdown col-sm-2">
                            <select th:field="*{status.id}" class="form-select form-select-sm" id="attendance" onchange="proses()">
                                <option 
                                    th:each="status : ${statuses}" 
                                    th:text="${status.name}" 
                                    th:value="${status.id}">
                                </option>
                            </select>
                        </div>           
                    </div>

                    <div class="mb-1 row">
                        <label style="font-size: 12px">Working hour</label>
                        <label style="font-size: 10px">12:00 - 13:00 (Istirahat)</label>
                    </div>
                    <div class="mb-1 row">
                        <label for="startTime" class="col-sm-2 col-form-label">Start</label>
                        <div class="col-sm-4">
                            <input type="time" th:field="*{startTime}" class="form-control"  id="startTime"/><br>
                        </div>
                    </div>

                    <div class="mb-1 row">
                        <label for="endTime" class="col-sm-2 col-form-label">End</label>
                        <div class="col-sm-4">
                            <input type="time" th:field="*{endTime}" class="form-control"  id="endTime"/><br>
                        </div>
                    </div>

                    <div class="mb-1 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Activity/Remark</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" th:field="*{activity}" id="exampleFormControlTextarea1" rows="3" style="height: 120px" maxlength="2000" required/>

                            <button type="submit" class="btn btn-primary float-end m-1" style="font-size: 12px; background-color:#0094FF; color: #fff" >
                                Save
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane" class="svg-inline--fa fa-paper-plane fa-w-16" role="img" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 
                                      33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <p th:each="err : ${#fields.errors('activity')}" th:text="${err}" class="error"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>    
    <th:block layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/js/attendance.js}" charset="UTF-8"></script>
        <!-- Menambahkan jQuery -->
        <script type="text/javascript" th:src="@{/datepicker/js/bootstrap-datepicker.min.js}" charset="UTF-8"></script>
        <script type="text/javascript" th:src="@{/datepicker/js/datepicker.js}" charset="UTF-8"></script>
    </th:block>
</body>
</html>