<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .form-control{
                height: 25px;
            }
            .col-form-label{
                font-size: 12px;
            }
            .row{
                margin-bottom: -2%
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Timesheet</li>
                </ol>
            </nav>
            <form th:action="@{/history/{id} (id = ${history.id})}" th:object="${employee}" method="POST" id="employeeForm">
                <div style="margin: 2% 3%">
                    <h2 class="text-primary" style="margin-bottom: 2%" >TIMESHEET</h2>
                    <div class="row">
                        <label for="projectName" class="col-sm-2 col-form-label"><b>Name of Project</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{projectName}" class="form-control"  id="projectName"><br>
                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"><b>Unit/Division</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{divisi}" class="form-control"  id="divisi"><br>
                        </div>
                    </div>

                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"><b>Name</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{name}" class="form-control"  id="name"><br>
                        </div>
                    </div>

                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"><b>MII Id</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{miiId}" class="form-control"  id="miiId"><br>
                        </div>
                    </div>

                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"><b>Periode</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:object="${history}" th:value="*{month}+' '+*{year}" class="form-control"  id="periode" readonly><br>
                        </div>
                        <div class="col-sm-2">
                            <div th:with="condition=${history.status == 'ON PROGRESS'}" th:remove="tag">
                                <button th:if="${condition}" id="submitEmployee" type="submit" class="btn btn-primary" style="background-color: #009DE1" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-check-fill" viewBox="0 0 16 16" >
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-2.6 5.854a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="container">
                <table class="table" style="width: 100%">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Work Hour Start</th>
                            <th scope="col">Work Hour End</th>
                            <th scope="col">Total Work Hour</th>
                            <th scope="col">Status Attendance</th>
                            <th scope="col">Activy/Remark</th>
                            <th scope="col">Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="job : ${jobs}">
                            <td th:text="${job.date}"></td>
                            <td th:text="${job.startTime}"></td>
                            <td th:text="${job.endTime}"></td>
                            <td th:text="${job.totalHour}"></td>
                            <td th:text="${job.status.name}"></td>
                            <td th:text="${job.activity}"></td>
                            <td>
                                <!--Update Button-->
                                <a th:href="@{/job/edit/{id} (id = ${job.id})}" type="button" class="btn btn-sm btn-warning">
                                    Edit
                                </a>
                                <!--Delete Button-->
                                <form 
                                    th:action="@{/job/{id} (id = ${job.id})}" 
                                    th:method="DELETE"
                                    onSubmit="return confirm('Are you sure you wish to delete?');" class="btn btn-sm btn-danger">
                                    <input  name="delete" th:value="${history.id}" hidden>
                                    <input type="submit" value="Delete">
                                </form>
                            </td>
                        </tr>
                    </tbody>             
                </table>    
                <table style="width: 35%">
                    <tr id="status">
                        <td th:object="${p}" th:text="*{name}+' : '+'0'"></td>
                        <td th:object="${s}" th:text="*{name}+' : '+'0'" style="background-color: #CDE9FD"></td>
                        <td th:object="${bt}" th:text="*{name}+' : '+'0'"></td>
                    </tr>
                    <tr id="status">
                        <td th:object="${pm}" th:text="*{name}+' : '+'0'" style="background-color: #CDE9FD"></td>
                        <td th:object="${v}" th:text="*{name}+' : '+'0'"></td>
                        <td th:object="${x}" th:text="*{name}+' : '+'0'" style="background-color: #CDE9FD"></td>
                    </tr>
                </table>
            </div>

        </div>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/employee.js}"></script>
    </th:block>

</body>

</html>

