<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .form-control{
                height: 25px;
            }
            .col-form-label{
                font-size: 12px;
            }
            .row{
                margin-bottom: -2%
            }

        </style>
    </head>
    <body>
        <div layout:fragment="content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Timesheet</li>
                </ol>
            </nav>

            <form th:action="@{/history/{id} (id = ${history.id})}" th:object="${employee}" th:method="PUT" id="jobForm">
                <div style="margin: 2% 3%">
                    <h2 class="text-primary" style="margin-bottom: 2%" >TIMESHEET</h2>
                    <div class="row">
                        <label for="projectName" class="col-sm-2 col-form-label"><b>Name of Project</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{projectName}" class="form-control"  id="projectName"><br>
                        </div>
                    </div>
                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"><b>Unit/Division</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{divisi}" class="form-control"  id="divisi"><br>
                        </div>
                    </div>

                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"><b>Name</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{name}" class="form-control"  id="name"><br>
                        </div>
                    </div>

                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"><b>MII Id</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:field="*{miiId}" class="form-control"  id="miiId"><br>
                        </div>
                    </div>

                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label"><b>Periode</b></label>
                        <div class="col-sm-2">
                            <input type="text" th:object="${history}" th:value="*{month}+' '+*{year}" class="form-control"  id="periode" readonly><br>
                        </div>
                        <div class="col-sm-2">
                            <div th:with="condition=${history.status == 'ON PROGRESS'}" th:remove="tag">
                                <button th:if="${condition}" id="submitEmployee" type="submit" class="btn btn-primary" >update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="container">
                <div th:with="condition=${history.status == 'ON PROGRESS'}" th:remove="tag">
                    <!--<a th:href="@{/job/add}" th:if="${condition}" type="button" class="btn btn-info m-3 float-end" >Add Log</a>--> 
                    <a th:href="@{/job/add/{id}  (ids = ${history.id}, id = ${employee.id})}" th:if="${condition}" type="button" class="btn btn-info m-3 float-end" >Add Log</a> 
                    <table class="table" style="width: 100%">

                        <thead class="bg-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Work Hour Start</th>
                                <th scope="col">Work Hour End</th>
                                <th scope="col">Total Work Hour</th>
                                <th scope="col">Status Attendance</th>
                                <th scope="col">Activy/Remark</th>

                                <th scope="col" th:if="${condition}">Tools</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="job : ${jobs}">
                                <td th:text="${job.date}"></td>
                                <td th:text="${job.startTime}"></td>
                                <td th:text="${job.endTime}"></td>
                                <td th:text="${job.totalHour}"></td>
                                <td th:text="${job.status.name}"></td>
                                <td th:text="${job.activity}"></td>
                                <td>
                                    <!--Update Button-->
                                    <div th:with="condition=${history.status == 'ON PROGRESS'}" th:remove="tag">


                                        <a th:if="${condition}"
                                           th:href="@{/job/edit/{id}/{ids} (ids = ${history.id}, id = ${job.id})}" 

                                           type="button" class="btn btn-sm btn-warning">
                                            Edit
                                        </a>
                                    </div>
                                    <!--Delete Button-->
                                    <form 
                                        th:action="@{/job/{id}/{ids} (id = ${job.id}, ids = ${history.id})}" 
                                        th:if="${condition}"
                                        th:method="DELETE"
                                        onSubmit="return confirm('Are you sure you wish to delete?');" class="btn btn-sm btn-danger">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        </tbody>             
                    </table>
                    <table style="width: 35%" id="status">
                        <tr>
                            <td th:object="${p}" th:text="*{name}+' : '+*{count}"></td>
                            <td th:object="${s}" th:text="*{name}+' : '+*{count}"></td>
                            <td th:object="${bt}" th:text="*{name}+' : '+*{count}"></td>
                        </tr>
                        <tr>
                            <td th:object="${pm}" th:text="*{name}+' : '+*{count}"></td>
                            <td th:object="${v}" th:text="*{name}+' : '+*{count}"></td>
                            <td th:object="${x}" th:text="*{name}+' : '+*{count}"></td>
                        </tr>
                    </table>
                    <center><a th:href="@{/history}" type="button" class="btn btn-info m-3" >Save</a></center>
                </div>
            </div>
        </div>
    <th:block layout:fragment="scripts">
        <script th:src="@{/js/employee.js}"></script>
    </th:block>

</body>

</html>

