<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee/layout.html}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content">
            <div>
              <nav aria-label="breadcrumb" style="font-size: 10px">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" >Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Timesheet</li>
                </ol>
              </nav>
            </div>
            
            <div class="p-2 mr-2">      
                <h3 class="text-primary">TIMESHEET</h3>
            </div>
            
            <div>
            <div  class="card w-75 p-3" style="font-size: 12px">
                    <div class="mb-1 row" >
                    <label for="projectName" class="col-sm-2 col-form-label">Name of Project</label>
                    <div class="col-sm-10">
                      <input type="text"  >
                    </div>
                  </div>
                  <div class="mb-1 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Unit/Division</label>
                    <div class="col-sm-10">
                      <input type="text">
                    </div>
                  </div>
                  
                <div class="mb-1 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" >
                    </div>
                  </div>
                
                <div class="mb-1 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">MII Id</label>
                    <div class="col-sm-10">
                      <input type="text" >
                    </div>
                  </div>
                
                <div class="mb-1 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Periode</label>
                    <div class="col-sm-4">
                      <input type="text" >
                      <button type="submit" class="btn btn-primary m-1" style="font-size: 11px" >Send</button>
                    </div> 
            </div>
                
            </div>
                
            <div>
                <button type="submit" class="btn btn-info m-3 float-end" style="font-size: 12px" >Add Log</button>                    
            </div>
                
            <div>
                <table class="table">
                  <thead>
                    <tr style="font-size: 12px">
                      <th scope="col">Date</th>
                      <th scope="col">Work Hour End</th>
                      <th scope="col">Work Hour End</th>
                      <th scope="col">Status Attendance</th>
                      <th scope="col">Activity/Remark</th>
                      <th scope="col">Tools</th>
                    </tr>
                  </thead>
                  <tbody>                
                </table>        
                    
            </div>

        </div>
        </div>
       
    </body>
</html>

