<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content">
            <div>
              <nav aria-label="breadcrumb" style="font-size: 10px">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" >Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Timesheet</li>
                </ol>
              </nav>
            </div>
            
            <div class="p-2 mr-2">      
                <h3 class="text-primary">TIMESHEET</h3>
            </div>
            
            <div>
            <div  class="card w-75 p-3" style="font-size: 12px">
                    <div class="mb-1 row" >
                    <label for="projectName" class="col-sm-2 col-form-label">Name of Project</label>
                    <div class="col-sm-10">
                      <input type="text"  >
                    </div>
                  </div>
                  <div class="mb-1 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Unit/Division</label>
                    <div class="col-sm-10">
                      <input type="text">
                    </div>
                  </div>
                  
                <div class="mb-1 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" >
                    </div>
                  </div>
                
                <div class="row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">MII Id</label>
                    <div class="col-sm-4">
                      <input type="text" >
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="save" class="svg-inline--fa fa-save fa-w-14 w-25 h-25" role="img" viewBox="0 0 448 512">
                      <path fill="#0094FF" d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 
                            416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 
                            6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"/>
                      </svg>
                    </div>
                  </div>
                
                <div class="row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Periode</label>
                    <div class="col-sm-4">
                      <input type="text" >
                      
<!--                      <button type="submit" class="btn btn-primary m-1" style="font-size: 11px" >Send</button>-->
                    </div> 
            </div>
                
            </div>
                
            <div class="col-sm-12">
                <button type="submit" class="btn m-3 float-end" style="background-color:#0094FF; font-size: 12px; color: #fff" >Add Log
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                  </svg></button>                    
            </div>
                
<!--            <div>
                <table class="table">
                  <thead>
                    <tr style="font-size: 12px">
                      <th scope="col">Date</th>
                      <th scope="col">Work Hour Start</th>
                      <th scope="col">Work Hour End</th>
                      <th scope="col">Status Attendance</th>
                      <th scope="col">Activity/Remark</th>
                      <th scope="col">Tools</th>
                    </tr>
                  </thead>
                  <tbody>
                       <tr th:each="employee, i : ${employees}">                               
                            <td th:text="${i.count}"></td>
                            <td th:text="${employee.name}"></td>
                            <td th:text="${employee.miiId}"></td>
                            <td th:text="${employee.projectName}"></td>
                            <td th:text="${employee.divisi}"></td>
                            <td>
                                <button>
                                    <a th:href="@{/employee/edit/{id} (id = ${employee.id})}">
                                        Edit
                                    </a>
                                </button>
                                <button>
                                    <a th:href="@{/employee/edit/{id} (id = ${employee.id})}">
                                       Delete
                                    </a>
                                </button>
                            </td>
                     
                </table>        
                    
            </div>-->

        </div>
        </div>
        
         <script th:inline="javascript">
            (function () {
                const message = [[${message}]];
                
                if(message) {
                    alert(message);
                }
                
            })();
        </script>
       
    </body>
</html>

